@page "/diets/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Diet</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditDiet" diet="diet" />

@code {
    [Parameter] public int id { get; set; }
    Diet? diet = new Diet();

    protected async override Task OnParametersSetAsync()
    {
        diet = await _client.GetFromJsonAsync<Diet>($"{Endpoints.DietsEndpoint}/{id}");
    }

    async Task EditDiet()
    {
        await _client.PutAsJsonAsync($"{Endpoints.DietsEndpoint}/{id}", diet);
        _navManager.NavigateTo("/diets/");
    }
}

